body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #003366;
    color: white;
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

    nav ul li {
        margin: 0 10px;
    }

        nav ul li a {
            color: white;
            text-decoration: none;
        }

.user-profile {
    display: flex;
    align-items: center;
}

    .user-profile input {
        padding: 5px;
        margin-right: 10px;
    }

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
   
}

.featured-articles {
    
}

.featured-articles, .latest-articles {
    flex: 3;
}

    .featured-articles h2, .latest-articles h2, .sidebar h2 {
        margin-top: 0;
    }

.carousel {
    display: flex;
    overflow: auto;
}

.latest-articles {
}

.carousel-item1 {
    background-color: #eee;
    padding: 20px;
    margin: 5px;
    flex: 1;
    width: 180px;
    text-align: center;
}

.articles-grid {
    display: flex;
    flex-wrap: wrap;
}

.article-card {
    background-color: white;
    margin: 10px;
    width: 450px;
    padding: 15px;
    flex: 1 1 calc(33% - 20px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

    .article-card:hover {
        transform: scale(1.05);
    }

    .article-card img {
        max-width: 100%;
        height: auto;
    }

.sidebar {
    flex: 1;
    margin-left: 20px;
}

    .sidebar section {
        background-color: white;
        width: 280px;
        padding: 15px;
        margin-bottom: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

        .sidebar section button {
            margin-top: 4%;
        }

footer {
    background-color: #003366;
    color: white;
    padding: 20px 0;
    text-align: center;
    
}

.footer-links, .social-media, .contact-info {
    margin: 10px 0;
}

    .footer-links a, .social-media a {
        color: white;
        text-decoration: none;
        margin: 0 10px;
    }
